body {
	font-family: 'Julius Sans One', sans-serif;
	color: white;
	height: 100%;
}
small {
	font-size: medium;
}


.description {
	display: none;
}

.intro{
	text-align: left;
}

.mainContainer{
	padding-bottom: 5px;
	margin-bottom: 5px;
}
