
/*
 * Globals
 */

 /* Links */
 a,
 a:focus,
 a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

 html,
 body {
  height: 100%;
  font-family: Marvel;
  background: url(../img/loginbanner.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;

}
body {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  background: radial-gradient(rgba(5,5,50,0.5) 60%, rgba(100,100,120,0.2));
  background: -webkit-radial-gradient(rgba(5,5,50,0.5) 60%, rgba(100,100,120,0.2));
  background: -o-radial-gradient(rgba(5,5,50,0.5) 60%, rgba(100,100,120,0.2));
  background: -moz-radial-gradient(rgba(5,5,50,0.5) 60%, rgba(100,100,120,0.2));
  background: radial-gradient(rgba(5,5,50,0.5) 60%, rgba(100,100,120,0.2));
}


.cover-container {
  font-weight:   margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
}

@media screen and (min-width: 800px)
{
  .cover-container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 140px;
  }
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

 .masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

 .cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

 .mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

 @media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

a {
  color: #ffffff;
}
a:hover {
  color: #000000;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

input, textarea {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 2px solid #a0b3b0;
  color: #ffffff;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #e23636;
}

textarea {
  border: 2px solid #504a4a;
  resize: vertical;
}

.box-area {
  position: relative;
  color: white;
  margin-bottom: 40px;
}

.button {
  border: 0;
  border-radius: 0;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  background: #000000;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #518cca;
}

.push-button {
  display: block;
  width: 100%;
}

.modal1 { 
  display: block; /* Hidden by default */
}
.modal2 { 
  display: none; /* Hidden by default */
}

.noAccount{
  color: #33CCFF;
}

.cover-heading{
  color: #bbaa1b;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
}

.form-control{
  text-align: center;
}

.col-md-6{
  float: none;
  margin: 0 auto;
}

.container{
  padding-top: 30px;
}

@media screen and (min-width: 800px)
{
  .container{
    padding-top: 50px;
  }
}