html {
  position: relative;
  background-color: black;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: black;
  padding: 0;
}


#mainContainer {
  width: 100%;
  height: 100%;
  padding-top: 55px;
}


.navbar-brand{
  font-family: 'Cinzel', serif;
}


#logout{
  color: #ff9999;
}

.navbarClass{
  color: white !important;
  text-decoration: none !important;
}


.bootbox-body, input{
  word-break: break-word;
  white-space: normal;
}

.modal-content{
  background-color: #292b2c !important;
  color: #aaeeff !important;
}

#imageInput{
  display: none;
}


.switchText{
  color: #0275d8;
}

#secondarySwitch{
  display: none;
}

.img-fluid{
  max-height: 200px;
}

.table > tbody > tr > td, .table > tbody > tr > th {
 vertical-align: middle;
}

.nameCol{
  font-weight: bold !important;
  color: #0275d8 !important;
}